/*This is the CSS page for our final template.*/

body {
	background-color: lightskyblue;
	font-family: "poppins", serif;
	color: white;
	margin-left: 50px;
	margin-right: 50px;
}

.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color: #cccccc;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
	font-family: "poppins", serif;
}
.header {
	height: auto;
	font-weight: bold;
	font-size: 56px;
	text-align: center;
	font-family: "Bungee", sans-serif;
  	font-weight: 400;
  	font-style: bold;
	background-color: #324376;
	color: white;
	border-bottom: solid 12px goldenrod;
	border-left: solid 10px gold;
	animation-name: headerAnimation;
    animation-duration: 3s; 
    animation-fill-mode: forwards;
    transform-origin: center;
    padding: 20px;
}

@keyframes headerAnimation {
    from {
        transform: scale(0.1); 
    }
    to {
        transform: scale(1); 
    }
}
h4 {
	font-style: italic;
	font-size: 36px;
	font-family: "Bungee", sans-serif;
  	font-weight: 400;
}
h3 {
	font-size: 30px;
	font-family: "Bungee", sans-serif;
  	font-weight: 400;
  	font-style: normal;
  	color:#324376;
}

h5 {
	float: below;
	margin-left: 12%;
	margin-right: 12%;
	font-family: "poppins", serif;
	font-size: 11px;
	font-weight: 200;
	padding-bottom: 10px;
	border-bottom: solid 2px lightgrey;

}

iframe{
	float: none;
  	width: 200px; 
  	height: 100px; 
  	background-color: #CDF0FF;
}

img{
	height: 75%;
	width: 75%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
}

/*Don't worry about this section yet*/
@media only screen and (max-width: 767px)
{

 }
 .footer p{
	background-color: #324376;
	color: white;
 }
 .list {
 	float: none;
 	min-width: 90%;
 	margin-left: 10px;
 	margin-bottom: 30px;
 	margin-top: 30px;
 	border: 2px solid darkgrey;
 	padding-left: 10px;
 }
 img{
 	display: block;
 	margin-right: auto;
 	margin-left: auto;
 	height: 75%;
 	width: 75%;
 }
 .header{
 	font-size: 36px;
 }
 h4{
 	font-size: 24px;
 }
 .iframe{
 	min-width: 80%;
 }
}
